package templates

import "github.com/a-h/templ"

templ Home() {
	<!DOCTYPE html>
	<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home Page</title>
		<script src="https://unpkg.com/htmx.org@1.9.6"></script>
	</head>
	<body>
		<h1>Welcome to Web SSR Go!</h1>
		<button hx-get="/load-message" hx-target="#message" hx-swap="innerHTML">
			Load Message
		</button>
		<div id="message"></div>
	</body>
	</html>
}
